body {
    background-color: rgb(228, 153, 32);
    font-family: 'Rampart One', cursive;
}
.header_wrap {
    justify-content: center;
    display: flex;
}
.table_of_contents {
    font-size: 3.4375rem;
}
.text {
    font-size: 1.875rem;
}
.pic {
    max-width: 0;
    max-height: 0;
}
.text {
    cursor: pointer;
    padding: 0.3125rem 0.3125rem;
    transition: background .2s ease-out;
    margin-bottom: 0.1875rem;
    display: flex;
    justify-content: space-between;
}
.text:hover {
    background-color:#56bd58;
    border-radius: 1.25rem;
}
.main_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_main_wrap {
    cursor: pointer;
}
.main_main_wrap:hover {
    color:rgb(67, 43, 226);
}
.main_text {
    border-bottom: 0.0938rem solid rgb(42, 37, 3);
}
.text_input:checked ~ .text {
    color:rgb(67, 43, 226);
}
.text_input:checked ~ .pic {
    transition: 1.10s;
    transform: rotate(360deg);
    /* display: block; */
    max-width: 22.6125rem;
    max-height: 24.6438rem;
}
.text_input {
	cursor: pointer;
    appearance: none;
}
label {
    display: flex;
    align-items: center;
    gap: 10.625rem;
}
.text_input:checked + .text .fa-sharp {
    transform: rotate(135deg);
    transition: all 0.4s;
}
.fa-plus::before {
    visibility: hidden;
}
.main_main_wrap:hover > .main_text > .text > .fa-plus::before {
    visibility: visible;
}








