* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(228, 153, 32);
    font-family: 'Rampart One', cursive;
}
.main_main_wrap {
    padding: 1.25rem;
}
.header_wrap {
    justify-content: center;
    display: flex;
}
.table_of_contents {
    font-size: 5.5vw;
}
.text {
    font-size: 3.5vw;
}
.img_1 .pic {
    max-width: 0;
    max-height: 0;   
}
.img_1 .pic {
    cursor: pointer;
}
.img_1 {
    display: flex;
    justify-content: center;
    padding-bottom: 0.625rem;
    max-width: 30vw;
    max-height: 30vw;
    padding-left: 4.375rem;
}
.text {
    cursor: pointer;
    padding: 0.3125rem 0.3125rem;
    transition: background .2s ease-out;
    display: flex;
    justify-content: space-between;
}
/* .text:hover {
    background-color:#56bd58;
    border-radius: 3rem;
} */
.main_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_main_wrap {
    cursor: pointer;
}
/* .main_main_wrap:hover {
    color:rgb(67, 43, 226);
} */
.main_text {
    border-bottom: 0.0938rem solid rgb(42, 37, 3);
}
.text_input:checked ~ .text {
    color:rgb(67, 43, 226);
}
.text_input:checked ~ .img_1 .pic {
    transition: 1.10s;
    transform: rotate(360deg);
    max-width: 30vw;
    max-height: 30vw;
}
.text_input {
	cursor: pointer;
    appearance: none;
    width: 0;
    height: 0;
    display: none;
}
label {
    display: flex;
    align-items: center;
    gap: 10.625rem;
}
.text_input:checked + .text .fa-sharp {
    transform: rotate(135deg);
    transition: all 0.4s;
}
.fa-plus::before {
    visibility: hidden;
}
    /* .main_main_wrap:hover > .main_text > .text > .fa-plus::before {
        visibility: visible;
    }
    .main_text:hover > .img_1 .pic {
        transition: 1.10s;
        transform: rotate(360deg);
        max-width: 30vw;
        max-height: 30vw;
    }
    .main_text:hover > .text > .fa-sharp {
        transform: rotate(135deg);
        transition: all 0.4s;
    } */

@media (max-width: 62.5rem) {
    .img_1 {
        padding-left: 7.5rem;
    }
}
@media (max-width: 38.75px) { 
    .text {
        gap: 9rem;
    }
    /* .main_text:hover > .img_1 .pic {
        max-width: 16.10rem;
        max-height: 17.80rem;
    } */
    .img_1 {
        padding-left: 6.875rem;
    }
}

@media (hover: hover) {
    .text:hover {
        background-color:#56bd58;
        border-radius: 3rem;
    }
    .main_main_wrap:hover {
        color:rgb(67, 43, 226);
    }
    .main_text:hover > .img_1 .pic {
        transition: 1.10s;
        transform: rotate(360deg);
        max-width: 30vw;
        max-height: 30vw;
    }
    .main_main_wrap:hover > .main_text > .text > .fa-plus::before {
        visibility: visible;
    }
    .main_text:hover > .img_1 .pic {
        transition: 1.10s;
        transform: rotate(360deg);
        max-width: 30vw;
        max-height: 30vw;
    }
    .main_text:hover > .text > .fa-sharp {
        transform: rotate(135deg);
        transition: all 0.4s;
    }
}
    







